@tailwind base;
@tailwind components;
@tailwind utilities;

/*where we define custom properties*/
:root {
  --foreground-rgb: 0, 0, 0;
}

/*where we can detect if user is in dark mode or not*/
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    
  }
}

body {
  color: rgb(var(--foreground-rgb));
  padding: 1rem;
  background-color: burlywood;
}
