@tailwind base;
@tailwind components;
@tailwind utilities;

/*where we define custom properties*/
:root {
  --foreground-rgb: 0, 0, 0;
}

/*where we can detect if user is in dark mode or not*/
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    
  }
}

body {
  color: rgb(var(--foreground-rgb));
  padding: 1rem;

  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  
  
  display: flex;
  justify-content: center;
  align-items: center;


}



